[Unit]
Description=Swarming bot startup
After=network.target

[Service]
Type=simple
User=%(user)s
Environment=SWARMING_EXTERNAL_BOT_SETUP=1
ExecStart=/usr/bin/python %(zip)s start_bot

[Install]
WantedBy=multi-user.target
