[submodule "isolate-server"]
	path = isolate-server
	url = https://code.google.com/p/swarming.isolate-server
[submodule "swarming-server"]
	path = swarming-server
	url = https://code.google.com/p/swarming.swarming-server
[submodule "swarming-client"]
	path = swarming-client
	url = https://code.google.com/p/swarming.swarming-client
