task-mass-cancel {
  button.cancel {
    background-color: red;
    color: white;
    font-weight: bold;
    border: 2px #770707;
  }

  button.cancel[disabled] {
    background-color: #ddd;
    color: #333;
  }

   checkbox-sk {
    display: inline-block;
  }
}