task-page {

  main {

    .title {
      font-size: 1.5em;
      font-weight: 700;
      margin: 5px;
    }

    a[href] {
      color: #1F78B4;
    }
  }

  .id_buttons {
    display: flex;

    .id_input {
      font-size: 1.5em;
      width: 10em;
      margin: 8px 5px;
    }
  }


  .horizontal.layout {
    display: flex;
    flex-direction: row;

    .grow {
      flex: 1;
      flex-basis: 0px;
    }
  }

  .wrap.layout {
    flex-wrap: wrap;
  }


  table {
    border-collapse: collapse;
    margin-left: 5px;
    margin-bottom: 8px;
  }
  td, th {
    border: 1px solid #BBB;
    padding: 5px;
  }

  .task-info {
    min-width: 500px;
    &.inactive {
      background-color: #ddd;
    }

    /* Tell all the second td in a tr (i.e. the content) to break
       to avoid wrapping.  This keeps the first columns nice and
       unbroken without having to add a bunch of classes.*/
    td:nth-child(2) {
      word-break: break-word;
    }

    .pending {
      color: #E69F00;
    }
    .overhead {
      color: #D55E00;
    }
    .running {
      color: #0072B2;
    }
  }

  /* Adds | between the dimensions, if there are more than 1*/
  span.dim~span.dim:before {
    content: " | ";
  }

  .dim.bold {
    font-weight: 700;
  }

  .highlight {
    background-color: #FFFFE0;
  }
  .reproduce {
    margin-left: 5px;
  }
  .bottom_space {
    margin-bottom: 10px;
  }

  .code {
    font-family: monospace;
  }
  .break-all {
    word-break: break-all;
  }
  .cipd-header {
    font-weight: 700;
    /* Make it easier for users to copy-paste the versions by
       making the header not selectable.*/
    user-select: none;
    margin-left: 8px;
  }

  .slice-picker {
    margin-left: 5px;
    display: flex;
    > * {
      display: inline-block;
    }
    .tab {
      padding: 10px 20px;
      margin: 0;
      background-color: #a6cee3;
      color: black;
      cursor: pointer;
    }
    .tab[selected] {
      background-color: #1f78b4;
      color: white;
      font-weight: 700;
    }
  }
}
