/* Copyright 2014 The Swarming Authors. All rights reserved.
 * Use of this source code is governed by the Apache v2.0 license that can be
 * found in the LICENSE file.
*/

#search-box-group {
  padding-bottom: 10px;
  padding-top: 2px;
}

#group-chooser-outter {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 4px;
}

#group-chooser {
  margin-top: -1px;
}
