<!DOCTYPE html>
<html>
<!-- Copyright 2014 The Swarming Authors. All rights reserved.
Use of this source code is governed by the Apache v2.0 license that can be
found in the LICENSE file. -->
<head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <title>{{title}}</title>

  {% block header %}
    {# Page specific headers goes there. #}
  {% endblock %}
</head>
<body>
  {% block body %}
  {% endblock %}
  <hr>
  <div style="float: left;"><p>
    <a target="_blank" href="https://code.google.com/appengine/"><img border="0"
    src="https://code.google.com/appengine/images/appengine-noborder-120x30.gif"
    alt="Powered by Google App Engine" /></a></p>
  </div>
</body>
</html>
