{% set title = 'Isolate Server Admin' %}
{% extends "base.html" %}

{% block body %}

<h1>Admin pages</h1>
<ul>
  <li><a href="/restricted/whitelistdomain">Whitelist Domain</a></li>
  <li><a href="/restricted/whitelistip">Whitelist IP</a></li>
  <li><a href="/restricted/gs_config">Google Storage Config</a></li>
  <li><a href="/restricted/ereporter2/report">Recent ereporter2 errors</a></li>
  <li><a href="/restricted/cron/ereporter2/mail">Force sending error report</a></li>
</ul>

{% endblock %}
