<!DOCTYPE html>
<html>
<head>
  <title>Isolate Server Whitelist IPs</title>
  <link rel="stylesheet" type="text/css" href="/default.css"/>
</head>
<body>
  <div style="float: right;">
    {{now}}
  </div>

  <h1>Whitelisted IPs</h1>
  <table>
    <thead>
      <th>Date</th>
      <th>IP</th>
      <th>Who</th>
      <th>Group</th>
      <th>Comment</th>
    </thead>
    <tbody>
      {% for i in whitelistips %}
      <tr>
        <td>{{i.timestamp}}</td>
        <td>{{i.ip}}</td>
        <td>{{i.who.email()}}</td>
        <td>{{i.group}}</td>
        <td>{{i.comment}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <p>

  <form name="whitelist" method="post">
    IP: <input type="text" name="ip" value="{{ default_ip }}" /><br />
    Group: <input type="text" name="group" value="{{ default_group }}" /><br />
    Comment: <input type="text" name="comment" value="{{ default_comment }}" />
      <br />
    <input type="hidden" name="token" value="{{ token }}" />
    <input type="submit" value="SUBMIT" />
  </form>

  <p>

  {{ note }}

  <div style="float: left;"><p>
    <a target="_blank" href="https://code.google.com/appengine/"><img border="0"
    src="https://code.google.com/appengine/images/appengine-noborder-120x30.gif"
    alt="Powered by Google App Engine" /></a></p>
  </div>
</body>
</html>
