{% extends 'base.html' %}
{% block content %}

{# BEWARE: The following templates in 'raw' section are handled by handlebars
javascript library and not jinja2. #}

{% raw %}

<script id="group-chooser-item-template" type="text/x-handlebars-template">
  <a href="#" class="list-group-item">
    <h5 class="list-group-item-heading">{{name}}</h5>
    <small class="list-group-item-text">{{description}}</small>
  </a>
</script>

<script id="group-chooser-button-template" type="text/x-handlebars-template">
  <a href="#" class="list-group-item">
    <b>Create a new group</b>
  </a>
</script>

<script id="frame-error-pane" type="text/x-handlebars-template">
  <div class="panel panel-danger">
    <div class="panel-heading"><h3 class="panel-title">Error</h3></div>
    <div class="panel-body"><pre>{{text}}</pre></div>
  </div>
</script>

<script id="edit-group-form-template" type="text/x-handlebars-template">
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">{{name}}</h3></div>
    <div class="panel-body">
      <div id="alerts"></div>
      <form class="form-horizontal" role="form">
        <input type="hidden" name="name" value="{{name}}">
        <div class="form-group">
          <label class="col-sm-2 control-label">Description</label>
          <div class="col-sm-10">
            <input type="text" class="form-control"
                   name="description" value="{{description}}">
          </div>
        </div>
        <hr>
        <div class="form-group">
          <label class="col-sm-2 control-label">Created on</label>
          <div class="col-sm-10">
            <input type="text" class="form-control"
                   value="{{created_ts}}" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Created by</label>
          <div class="col-sm-10">
            <input type="text" class="form-control"
                   value="{{created_by}}" disabled>
          </div>
        </div>
        <hr>
        <div class="form-group">
          <label class="col-sm-2 control-label">Members</label>
          <div class="col-sm-10" style="font-family:monospace;">
            <textarea class="form-control"
                      rows="6" name="members">{{members}}</textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Patterns</label>
          <div class="col-sm-10" style="font-family:monospace;">
            <textarea class="form-control"
                      rows="3" name="globs">{{globs}}</textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Nested</label>
          <div class="col-sm-10" style="font-family:monospace;">
            <textarea class="form-control"
                      rows="3" name="nested">{{nested}}</textarea>
          </div>
        </div>
        <hr>
        <div class="form-group">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">
              Update group
            </button>
            <button id="delete-btn" type="button" class="btn btn-danger">
              Delete group
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</script>

{% endraw %}

<div class="row">
  <!-- Group chooser + 'Create new group' button. -->
  <div class="col-md-4">
    <!-- Populated by js. -->
    <div id="group-chooser">
    </div>
  </div>

  <!-- Details of some single group. -->
  <div class="col-md-8">
    <!-- Populated by js. -->
    <div id="main-content-pane">
    </div>
  </div>
</div>

{% endblock %}
