<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Test Request Server</title>
<link rel="stylesheet" type="text/css" href="/css/swarm_style.css"/>
</head>
<body>

<div style="text-align: right;">
<p>{{topbar|safe}}</p>
</div>


<h1>User Test Requests</h1>
{{sorted_by_message|safe}}
<p>Sort By:
<select id="sort" onchange="document.location.href='?sort_by=' + this.value">
<option value="">-</option>
<option value="start">Start Time</option>
<option value="reverse_start">Reverse Start Time</option>
<option value="machine_id">Machine ID</option>
</select>
</p>
<table id="request-table" summary="This table lists all test requests">
<tr>
<th>Name</th>
<th>Status</th>
<th>Requested (UTC)</th>
<th>Started (UTC)</th>
<th>Ended (UTC)</th>
<th>Machine ID</th>
<th>&nbsp;</th>
</tr>
{% for runner in runners %}
<tr class="request {% cycle even,odd %} {{ runner.failed_test_class_string }}">
<td><a name="runner_{{runner.key_string}}"><a title="Click to see full message"
    href="show_message?r={{runner.key_string}}">{{runner.name_string}}</a></a>
</td>
<td>{{runner.status_string|safe}}</td>
<td>{{runner.requested_on_string}}</td>
<td>{{runner.started_string}}</td>
<td>{{runner.ended_string}}</td>
<td>{{runner.machine_id_used|safe}}</td>
<td>{{runner.command_string|safe}}</td>
</tr>
{% endfor %}
</table>

<p>{{ enable_success_message|safe }}</p>

<h1>Global Test Requests</h1>
<table id="global-request-table" summary="This table lists all test requests">
<tr>
<th>User</th>
<th>Name</th>
<th>Status</th>
<th>Requested (UTC)</th>
<th>Started (UTC)</th>
<th>Ended (UTC)</th>
</tr>
{% for runner in global_runners %}
<tr class="request {% cycle even,odd %} {{ runner.failed_test_class_string }}">
<td>{{runner.user_email}}</td>
<td>{{runner.name_string}}</td>
<td>{{runner.status_string}}</td>
<td>{{runner.requested_on_string}}</td>
<td>{{runner.started_string}}</td>
<td>{{runner.ended_string}}</td>
</tr>
{% endfor %}
</table>

<h1>Recent Errors</h1>
<table id="error-table" summary="This table lists most recent errors">
<tr>
<th>Error</th>
<th>Message</th>
<th>Info</th>
<th>Time (UTC)</th>
</tr>
{% for error in errors %}
<tr class="request {% cycle even,odd %} {{ runner.failed_test_class_string }}">
<td>{{error.name}}</td>
<td>{{error.message}}</td>
<td>{{error.info}}</td>
<td>{{error.log_time}}</td>
</tr>
{% endfor %}
</table>

<div style="float: left;"><p> 
  <a target="_blank" href="http://code.google.com/appengine/"><img border="0"
   src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif"
   alt="Powered by Google App Engine" /></a></p>
</p></div>

</body>
</html>
