<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Machine List</title>
<link rel="stylesheet" type="text/css" href="/css/swarm_style.css"/>
</head>
<body>

<div style="text-align: right;">
<p>{{topbar|safe}}</p>
</div>

<h1>Polled Machines</h1>
<p>Sort By:
<select id="sort" onchange="document.location.href='?sort_by=' + this.value">
{% for sort_option in sort_options %}
{% if sort_option.key == selected_sort %}
<option value="{{sort_option.key}}" selected="">{{sort_option.name}}</option>
{% else %}
<option value="{{sort_option.key}}">{{sort_option.name}}</option>
{% endif %}
{% endfor %}
</select>
</p>
<p>
Note: The last seen value is updated at most once per {{machine_update_time}}, so it is likely that we've seen the machine since the listed time.
</p>
<table id="machine-table"
    summary="This table lists all machines that have polled this server">
<tr>
<th>ID</th>
<th>Tag</th>
<th>Last Seen</th>
<th>Dimensions</th>
<th>Status</th>
<th>&nbsp;</th>
</tr>
{% for machine in machines %}
<tr class="request {% cycle even,odd %}">
<td>{{machine.machine_id}}</td>
<td>{{machine.tag}}</td>
<td>{{machine.last_seen}}</td>
<td>{{machine.dimensions}}</td>
<td>{{machine.status}}</td>
<td>{{machine.command_string|safe}}</td>
</tr>
{% endfor %}
</table>

<div style="float: left;"><p>
  <a target="_blank" href="http://code.google.com/appengine/"><img border="0"
   src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif"
   alt="Powered by Google App Engine" /></a></p>
</p></div>

</body>
</html>
