<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Stats</title>
<link rel="stylesheet" type="text/css" href="/css/swarm_style.css"/>
</head>
<body>

<div style="text-align: right;">
<p>{{topbar|safe}}</br>
{{stat_links|safe}}
</div>

<h1>Activity in the Last 7 Days</h1>
<table id="daily-activity-table" summary="This table summarizes the basic server activities over the last week.">
<tr>
<th>Date</th>
<th>Total Number of Shards Requested</th>
<th>Total Number of Shard Failures</th>
<th>Total Number of Internal Timeout</th>
<th>Total Time Runnning Shards</th>
<th>Total Time Shards Spent Waiting to Run</th>
</tr>
{% for stats in daily_stats %}
<tr class="request {% cycle even,odd %}">
<td>{{stats.date}}</td>
<td>{{stats.shards_finished}}</td>
<td>{{stats.shards_failed}}</td>
<td>{{stats.shards_timed_out}}</td>
<td>{{stats.total_running_time}}</td>
<td>{{stats.total_wait_time}}</td>
</tr>
{% endfor %}
</table>


<h1>Runner Wait Times</h1>
<table id="runner-wait-table"
    summary="This table lists the wait times of all the runner, grouped by dimensions.">
<p>
These stats are based on the last {{runner_cutoff}} days
</p>
<tr>
<th>Runner Dimensions</th>
<th>Mean Wait</th>
<th>Median Wait (Rounded to Nearest Minute)</th>
<th>Longest Wait (Rounded to Nearest Minute)</th>
</tr>
{% for runner_dimensions, runner_summary in runner_wait_stats.items %}
<tr class="request {% cycle even,odd %}">
<td>{{runner_dimensions}}</td>
{% for stat in runner_summary %}
<td>{{stat}}</td>
{% endfor %}
</tr>
{% endfor %}
</table>

<div style="float: left;"><p>
  <a target="_blank" href="http://code.google.com/appengine/"><img border="0"
   src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif"
   alt="Powered by Google App Engine" /></a></p>
</p></div>

</body>
</html>
