# Check the latest versions at https://pypi.org/search/

flask==1.1.1
google-auth==1.6.3
google-cloud-bigquery==1.20.0
google-cloud-datastore==1.9.0
google-cloud-ndb==0.1.0
protobuf==3.10.0
pycrypto==2.6.1
pyyaml==5.4
requests==2.22.0
six==1.12.0
uwsgi==2.0.18
