<!DOCTYPE html>
<html>
<!-- Copyright 2014 The LUCI Authors. All rights reserved.
Use of this source code is governed by the Apache v2.0 license that can be
found in the LICENSE file. -->
<head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <title>
    {% if title is defined %}{{title}}{% else %}Swarming Server{% endif %}
  </title>
  <link rel="stylesheet" type="text/css" href="/default.css"/>

  {% block headers %}
  {% endblock %}
</head>
<body>
  <div class="top_right_links">
    {% if nickname is defined %}
      {% if nickname %}
        {{ nickname }}
      {% else %}
        <a href="{{signin_link|safe }}">Sign in</a>
      {% endif %}
      <br>
    {% endif %}
    {% if now is defined %}
      {{now|datetimeformat}}<br>
    {% endif %}
    {% block floating %}
    {% endblock %}
  </div>

  {% block body %}
  {% endblock %}

  <div style="width:100%">
    <hr>
    <div style="float: left;"><p>
      <a target="_blank" href="https://cloud.google.com/appengine/"><img border="0"
      src="/third_party/appengine-noborder-120x30.gif"
      alt="Powered by Google App Engine" /></a></p>
    </div>
    <div style="float: right; text-align: right;">
      <div style="margin-top: 1.2em; color: #777; font-size: 14px;">
        Server version
        {% if app_revision_url %}
          <a href="{{app_revision_url}}" target="_blank">{{app_version}}</a>
        {% else %}
          {{app_version}}
        {% endif %}
      </div>
    </div>
  </div>

  {% if google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{google_analytics}}', {'siteSpeedSampleRate': 100});
      ga('send', 'pageview');
    </script>
  {% endif %}
</body>
</html>
