{% set title = 'Swarming global config' %}
{% extends "swarming/base.html" %}

{% block body %}
<h1>Server global config</h1>
{% if not config_service_url %}
  Config service URL is not configured for this instance of swarming.
  Configure it using
  <a href="/_ah/api/explorer#p/config/v1/config.settings">configuration api</a>.
  Using default values.
{% else %}
  This config is distributed by
  <a href="{{config_service_url}}">luci-config</a>.
  {% if not rev %}
    Config file was not imported. Using default values.
  {% else %}
    Using revision <a href="{{rev_url}}">{{rev}}</a>.
  {% endif %}
{% endif %}

<h2>General</h2>
<p>
Google Analytics ID:
<input value="{{cfg.google_analytics}}" disabled/>
</p>

<p>
Enable timeseries monitoring:
<input id="enable_ts_monitoring" type="checkbox" name="enable_ts_monitoring"
       value="True" disabled
       {% if cfg.enable_ts_monitoring %}checked{% endif %}>
</p>

<h2>Bots</h2>
Delay in seconds before a bot is considered dead after it stops pinging:
<input value="{{cfg.bot_death_timeout_secs}}" disabled/>
<br>

<h2>Tasks</h2>
Max age in seconds for task reuse:
<input value="{{cfg.reusable_task_age_secs}}" disabled/>

{% endblock %}
