{% extends "swarming/base.html" %}


{% block headers %}
<style>
  h1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  table.property_table {
    font-family: monospace;
    border-spacing: 0;
  }

  table.property_table tbody tr:nth-child(even) {
    background-color: #eeeeee;
  }

  table.property_table td {
    padding-left: 1em;
    padding-right: 1em;
  }

  table.property_table tbody tr:hover {
    background-color: #eeffee;
  }
</style>
{% endblock %}


{% block body %}
{% import 'swarming/bot_view.html' as bot_view %}

<h1>Known bots</h1>
<a href="/">Back to root</a>
<p>
<table class=property_table>
  <tbody>
    <tr>
      <td>Current bot version</td>
      <td>{{current_version[:8]}}</td>
    </tr>
    <tr>
      <td>Number of bots alive</td>
      <td>{{num_bots_alive}}</td>
    </tr>
    <tr>
      <td>Number of bots dead</td>
      <td>{{num_bots_dead}}</td>
    </tr>
  </tbody>
</table>
<p>
Sort By:
<select id="sort" onchange="document.location.href='?sort_by=' + this.value">
  {% for sort_option in sort_options %}
    {% if sort_option.key == sort_by %}
      <option value="{{sort_option.key}}" selected="">{{sort_option.name}}
      </option>
    {% else %}
      <option value="{{sort_option.key}}">{{sort_option.name}}</option>
    {% endif %}
  {% endfor %}
</select>
<p>

{% import 'swarming/bot_view.html' as bot_view %}
<table id="machine-table" class="alterning_background"
    summary="This table lists all machines that have polled this server">
  <thead>
    <th>ID</th>
    <th>Task</th>
    <th>Last Seen</th>
    <th>Dimensions</th>
    <th>Version</th>
  </thead>
  <tbody>
    {% for bot in bots %}
      <tr class="request {% if bot.is_dead(now) %}dead_machine{% endif %}">
        <td>{{bot_view.bot_link(bot.key.id(), is_privileged_user)}}</td>
        <td>
          {% if bot.task %}
          <a href="/user/task/{{bot.task_entity.key_string}}">
            {{bot.task_entity.name}}</a>
          {% else %}&#8209;&#8209;{% endif%}
        </td>
        <td>
          {{(now-bot.last_seen_ts)|timedeltaformat}}
          {% if is_admin and bot.is_dead(now) %}
            <form id="delete_{{bot.key.id()}}" method="post"
                action="/delete_machine_stats">
              <input type="hidden" name="r" value="{{bot.key.id()}}" />
              <input type="submit" value="Delete" />
            </form>
          {% endif %}
        </td>
        <td>{{bot_view.render_dimensions(bot.dimensions)}}</td>
        <td>{{bot.version[:8]}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if cursor %}
<p>
<a href="/restricted/bots?limit={{limit}}&sort_by={{sort_by}}&cursor={{cursor}}">Next page</a>
{% endif %}

{% endblock %}
