{% extends "swarming/base.html" %}


{% block headers %}
<style>
  h1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h3 {
    margin-bottom: 5px;
  }

  table.property_table {
    font-family: monospace;
    border-spacing: 0;
  }

  table.property_table tbody tr:nth-child(even) {
    background-color: #eeeeee;
  }

  table.property_table td {
    padding-left: 1em;
    padding-right: 1em;
  }

  table.property_table tbody tr:hover {
    background-color: #eeffee;
  }

  .dead_bot {
    background-color: #ffdddd;
  }
</style>
{% endblock %}


{% block body %}
{% import 'swarming/bot_view.html' as bot_view %}
<h1>Bot details</h1>
<a href="/restricted/bots">Back to bots list</a>
<p>

{% if bot %}
  <table class="property_table">
    <tbody>
      <tr>
        <td>ID</td>
        <td>{{bot.key.id()}}</td>
      </tr>
      <tr>
        <td>Internal IP</td>
        <td>{{bot.internal_ip}}</td>
      </tr>
      <tr>
        <td>External IP</td>
        <td>{{bot.external_ip}}</td>
      </tr>
      <tr>
        <td>First seen</td>
        <td>{{bot.created_ts|datetimeformat}}</td>
      </tr>
      <tr>
        <td>Most recent ping</td>
        <td nowrap {% if bot.is_dead(now) %}class="dead_bot"{% endif %}>
          {{(now-bot.last_seen_ts)|timedeltaformat}}
          {% if is_admin and bot.is_dead(now) %}
          &nbsp;&nbsp;
          <form id="delete_{{bot.key.id()}}" method="post"
              action="/delete_machine_stats">
            <input type="hidden" name="r" value="{{bot.key.id()}}" />
            <input type="submit" value="Delete" />
          </form>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Dimensions</td>
        <td>{{bot_view.render_dimensions(bot.dimensions)}}</td>
      </tr>
      <tr>
        <td>Version</td>
        <td>{{bot.version}}</td>
      </tr>
      <tr>
        <td>Expected version</td>
        <td>{{current_version}}</td>
      </tr>
      <tr>
        <td>Current task</td>
        <td>
          {% if bot.task %}
            <a href="/user/task/{{bot.task_entity.key_string}}">
              {{bot.task_entity.name}}</a>
          {% else %}
            &#8209;&#8209;
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Total running time<br>for past {{ run_results|length }} tasks</td>
        <td>{{run_time|timedeltaformat}}</td>
      </tr>
      <tr>
        <td>Total idle time</td>
        <td>{{idle_time|timedeltaformat}}</td>
      </tr>
    </tbody>
  </table>
  <p>

  {% if run_results %}
    <h3>Previous tasks</h3>
    <table class="property_table">
      <thead>
        <tr>
          <th>Task</th>
          <th>Started</th>
          <th>Duration</th>
          <th>Idle time after</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
        {% set previous = false %}
        {% for run_result in run_results %}
          <tr class="request {% if run_result.failure %}failed_test{% endif%}">
            <td>
              <a href="/user/task/{{run_result.key_string}}">
                {{run_result.name}}</a>
            </td>
            <td nowrap>{{run_result.started_ts|succinctdatetimeformat}}</td>
            <td nowrap align=right>{{run_result.duration_now()|timedeltaformat}}</td>
            <td nowrap align=right>
              {% if previous %}
                {# Note that tasks are listed in reverse order #}
                {{(previous.started_ts - run_result.ended_ts)|timedeltaformat}}
              {% elif run_result.ended_ts %}
                {% if not cursor %}
                  {{(now - run_result.ended_ts)|timedeltaformat}}
                {% else %}
                  --
                {% endif %}
              {% else %}
                (Still running)
              {% endif %}
            </td>
            <td>{{run_result.to_string()}}</td>
          </tr>
          {% set previous = run_result %}
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% if cursor %}
  <br>
  <a href="/restricted/bot/{{bot.key.id()}}?limit={{limit}}&cursor={{cursor}}"}>
    Next page</a>
  {% endif %}

{% else %}

  Bot {{bot_id}} not found.

{% endif %}

{% endblock %}
