{% extends "swarming/base.html" %}


{% block headers %}
<script src="/third_party/webcomponentsjs/webcomponents.min.js"></script>
<link rel="import" href="/elements/stats-overview-build.html">
<style>
  .highlight_section {
    background-color: #ffffee;
    border-radius: 20px;
    padding: 10px;
  }
  .admin a {
    {% if not is_admin %}
      color: gray;
      text-decoration: line-through;
    {% endif %}
  }
  .command {
    font-family: monospace;
    margin-bottom: 10px;
    margin-top: 10px;
    white-space: pre-wrap;
  }
  .privileged_user a {
    {% if not is_privileged_user %}
      color: gray;
      text-decoration: line-through;
    {% endif %}
  }
  .user a {
    {% if not is_user %}
      color: gray;
      text-decoration: line-through;
    {% endif %}
  }
  stats-overview {
    min-width: 600px;
  }
</style>
{% endblock %}


{% block body %}

<h1>Swarming Server</h1>
<div layout horizontal>
  <div>
    <div class=highlight_section>
      Swarming Server is an open source task distribution service. It is written
      in python and runs on <a
        href="https://cloud.google.com/appengine/">AppEngine</a>. It is part of
        <a href="https://github.com/luci/luci-py">LUCI</a>.
    </div>
    <p>

    {% if not nickname %}
    Please <a href="{{signin_link|safe}}">sign in</a> for more access.
    {% else %}
    As a {{user_type}}, you are entitled to see these pages:
    {% endif %}

    <h3>Service Status</h3>
    <ul>
      <li class="user"><a href="/stats">Usage statistics</a></li>
      <li class="user"><a href="/user/tasks">Tasks</a></li>
      <li class="privileged_user"><a href="/restricted/bots">Bots</a></li>
      <li class="admin"><a href="/restricted/ereporter2/report">Exceptions in server log</a></li>
      <li class="admin"><a href="/restricted/ereporter2/errors">Ereporter2 errors</a></li>
      <li class="admin"><a href="/restricted/mapreduce/status">Map reduce jobs</a></li>
    </ul>

    <h3>Configuration</h3>
    <ul class="admin">
      <li><a href="/restricted/config">Server config</a></li>
      <li><a href="/restricted/upload/bootstrap">bootstrap.py</a></li>
      <li><a href="/restricted/upload/bot_config">bot_config.py</a></li>
      <li><a href="/auth/groups">User groups</a></li>
    </ul>

    <h3>Running a bot</h3>
      To bootstrap a bot, run one of these:
      <ol>
        <li>
          <strong> TL;DR; </strong>
<div class="command">python -c "import urllib; exec urllib.urlopen('{{host_url}}/bootstrap').read()"</div>
        </li>
        <li>
          Escaped version to pass as a ssh argument:
<div class="command">'python -c "import urllib; exec urllib.urlopen('"'{{host_url}}/bootstrap'"').read()"'</div>
        </li>
        <li>
          Manually:
<div class="command" style="margin-bottom:0">mkdir bot; cd bot
rm swarming_bot.zip; curl -sSLOJ {{host_url}}/bot_code
python swarming_bot.zip</div>
        </li>
      </ol>
    </li>

    <h3>Map reduce jobs</h3>
    <ul class="admin">
      {% for job in mapreduce_jobs %}
        <li>
          <form action="/restricted/launch_mapreduce" method="post">
            <input type="hidden" name="xsrf_token" value="{{xsrf_token}}" />
            <input type="hidden" name="job_id" value="{{job.id}}" />
            <button type="submit">Launch '{{job.name}}'</button>
          </form>
        </li>
      {% endfor %}
    </ul>
  </div>
  <stats-overview flex></stats-overview>
</div>

{% endblock %}
