<!DOCTYPE html>
<html>
  <head>
    <title>Swarming Status</title>
    <script src="/third_party/webcomponentsjs/webcomponents.min.js"></script>
    <link rel="import" href="/elements/polymer05/stats-app-build.html">
    <script>
    (function() {
      var DIMENSIONS = {{dimensions|safe}};
      for (var i = 0; i < DIMENSIONS.length; ++i) {
        DIMENSIONS[i] = JSON.parse(DIMENSIONS[i]);
      }
      window.onload = function() {
        var app = document.createElement('stats-app');
        app.dimensions = DIMENSIONS;
        document.getElementById('container').appendChild(app);
      };
    } ());
    </script>
  </head>
  <body>
    <div id="container"></div>
  </body>
</html>
