<!DOCTYPE html>
<html>
  <head>
    <title>Swarming Status</title>
    <script src="/third_party/bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <link rel="import" href="elements/stats-app.html">
    <script>
    var DIMENSIONS = {{dimensions|safe}};
    for (var i = 0; i < DIMENSIONS.length; ++i) {
      DIMENSIONS[i] = JSON.parse(DIMENSIONS[i]);
    }
    google.load(
        "visualization", "1",
        {
          callback: loaded,
          packages: ["corechart", "table"]
        });
    function loaded() {
      var app = document.createElement('stats-app');
      app.dimensions = DIMENSIONS;
      document.body.appendChild(app);
    }
    </script>
  </head>
  <body>
  </body>
</html>
