<!DOCTYPE html>
<html>
  <head>
    <title>Swarming Status</title>
    <script src="/third_party/webcomponentsjs/webcomponents.min.js"></script>
    <link rel="import" href="/elements/stats-app-build.html">
    <script>
    (function() {
      var DIMENSIONS = {{dimensions|safe}};
      for (var i = 0; i < DIMENSIONS.length; ++i) {
        DIMENSIONS[i] = JSON.parse(DIMENSIONS[i]);
      }
      window.onload = function() {
        var app = document.createElement('stats-app');
        app.dimensions = DIMENSIONS;
        document.getElementById('container').appendChild(app);
      };
    } ());
    </script>
  </head>
  <body>
    <div id="container"></div>
    {% import 'swarming/bot_view.html' as bot_view %}
    {% if bots %}
    Bots:<br>
    <ul>
      {% for bot in bots %}
        {# Get dimensions of each bot aka a mini bots list #}
        <li>{{bot_view.bot_link(bot, true)}}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>
