{% extends "swarming/base.html" %}


{% block headers %}
<style>
  h1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  table.layout_table {
    border-spacing: 0;
    font-family: monospace;
  }

  .layout_table thead {
    background-color: #C0C0C0;
    font-weight:bold;
  }

  table.layout_table tbody tr:nth-child(even) {
    background-color: #eeeeee;
  }

  table.layout_table td:first-child {
    border-color: black;
    border-right: thin solid;
    padding-right: 1em;
  }

  table.layout_table td:nth-child(2) {
    padding-left: 1em;
  }

  table.layout_table td:nth-child(4) {
    border-color: black;
    border-right: thin solid;
    padding-right: 1em;
  }

  table.layout_table td:nth-child(5) {
    border-color: black;
    border-right: thin solid;
    padding-left: 1em;
    padding-right: 1em;
  }

  table.layout_table td:nth-child(6) {
    padding-left: 1em;
    padding-right: 0.5em;
  }

</style>
<script>
  function radio_value(field) {
    var radios = document.getElementsByName(field);
    for (var i = 0, length = radios.length; i < length; i++) {
      if (radios[i].checked) {
        return radios[i].value;
      }
    }
  }

  function get_limit() {
    return document.getElementById('limitText').value;
  }

  function update_limit_text(val) {
    document.getElementById('limitText').value = val;
  }

  function update_limit_range(val) {
    document.getElementById('limitRange').value = val;
  }

  function update_sort() {
    // This resets the cursor and filters.
    var sort = radio_value("sort");
    var url = '/user/tasks?sort=' + sort + '&limit=' + get_limit();
    document.location.href = url;
  }

  function update_filter() {
    // This resets the cursor and sort.
    var state = radio_value("state");
    var url = '/user/tasks?state=' + state + '&limit=' + get_limit();
    document.location.href = url;
  }
</script>
{% endblock %}


{% block body %}
{% import 'swarming/bot_view.html' as bot_view %}

<h1>Tasks</h1>
<a href="/">Back to root</a>
<p>
<form id="filter" name="filter" method="GET">
<input type="range" id="limitRange" name="limit" value="{{limit}}" min=10
    max=500 step=5 onchange="update_limit_text(this.value);"
    onmousemove="update_limit_text(this.value);" >
<input type="text" id="limitText" value="{{limit}}" maxlength="3"
    onchange="update_limit_range(this.value);">
<input type="submit" value="Set limit">
<p>
<table class=layout_table>
  <thead>
    <tr>
      <td align=center>Sort</td>
      <td></td>
      <td>State (total last 24h)</td>
      <td></td>
      <td>Search by tag</td>
      <td>Search by task name</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {% for key, name, item_title in sort_choices %}
          <label title="{{item_title}}">
            <input type="radio" name="sort" value="{{key}}"
                onchange="update_sort()"
                {% if sort == key %}checked{%endif%}>
              {{name}}
            </input>
          </label>
          <br>
        {% endfor %}
      </td>
      {% for state_column in state_choices %}
        <td>
          {% for key, name, item_title in state_column %}
            <label title="{{item_title}}">
              <input type="radio" name="state" value="{{key}}"
                  onchange="update_filter()"
                  {% if state == key %}checked{%endif%}>
                {{name}}
              </input>
            </label>
            <br>
          {% endfor %}
        </td>
        {% endfor %}
      <td>
        <div title="Task tags uses whole tag search ONLY. Using it resets sort to 'Created' and the task state filter to 'All'.">
          Task tags<br>
          (whole tag only, 1 per line)
          <br>
          <textarea name="task_tag" rows="3" cols="30">{{task_tag}}</textarea>
          <br>
          <input type="submit" value="Search">
        </div>
      </td>
      <td>
        <div title="Task name uses whole word search ONLY. Using it resets sort to 'Created' and the task state filter to 'All'.">
          Task name<br>
          (whole word only)
          <br>
          <input type="text" name="task_name" value="{{task_name}}">
          <br>
          <input type="submit" value="Search">
        </div>
      </td>
    </tr>
  <tbody>
</table>
</form>
<br>

{% if tasks %}
  <table id="request-table" class="alterning_background"
      summary="This table lists all test requests">
    <thead>
      <th>Name</th>
      <th>Status</th>
      <th>Requested</th>
      <th>Pending</th>
      <th>Duration</th>
      <th>Bot</th>
      <th>Priority</th>
    </thead>
    <tbody>
      {% for task in tasks %}
        <tr class="request {% if task.failure or task.internal_failure %}failed_test{% endif%}">
          <td>
            <a href="/user/task/{{task.key_string}}">{{task.name}}</a>
          </td>
          <td>
            {{task.to_string()|safe}}
            {% if task.can_be_canceled and is_admin %}
              <form id="cancel_{{task.key_string}}" method="post"
                  action="/user/tasks/cancel">
                <input type="hidden" name="redirect_to" value="listing" />
                <input type="hidden" name="xsrf_token" value="{{xsrf_token}}" />
                <input type="hidden" name="task_id"
                    value="{{task.key_string}}" />
                <input type="submit" value="Cancel" />
              </form>
            {% endif %}
          </td>
          <td nowrap align=center>{{task.created_ts|succinctdatetimeformat}}</td>
          <td nowrap align=right>{{task.pending_now(now)|timedeltaformat}}</td>
          <td nowrap align=right>{{task.duration_now(now)|timedeltaformat}}</td>
          <td nowrap>{{bot_view.bot_link(task.bot_id, is_privileged_user)}}</td>
          <td nowrap align=right>{{task.priority}}</td>
        </tr>
      {% endfor %}
      {% if show_footer %}
        <tr>
          <td>&nbsp;</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      {% endif %}
    </tbody>
    {% if show_footer %}
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td><strong>Median</strong></td>
          <td align=right>{{pending_median|timedeltaformat}}</td>
          <td align=right>{{duration_median|timedeltaformat}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td><strong>Total: </strong>{{tasks|length}}</td>
          <td><strong>Average</strong></td>
          <td align=right>{{pending_average|timedeltaformat}}</td>
          <td align=right>{{duration_average|timedeltaformat}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><strong>Sum</strong></td>
          <td align=right>{{pending_sum|timedeltaformat}}</td>
          <td align=right>{{duration_sum|timedeltaformat}}</td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>
    {% endif %}
  </table>
{% else %}
  No data to show for this selection.
{% endif %}

{% if cursor %}
<p>
{% if task_name %}
  <a href="/user/tasks?task_name={{task_name}}&limit={{limit}}&cursor={{cursor}}">Next page</a>
{% else %}
  <a href="/user/tasks?sort={{sort}}&state={{state}}&limit={{limit}}&cursor={{cursor}}">Next page</a>
{% endif %}
{% endif %}

{% endblock %}
