{% extends "base.html" %}

{% block body %}

<h1>User Test Requests</h1>
{{sorted_by_message|safe}}
Sort By (changing drops all current filters):
<!--We don't allow sorting and filters to fully interact to prevent the server
from requiring a huge number of indices, which would make runners.put() very
expensive.-->
<select id="sort"
    onchange="document.location.href='{{url_no_sort_by_or_filters}}&sort_by=' + this.value">
  {% for sort_option in sort_options %}
    {% if sort_option.key == selected_sort %}
      <option value="{{sort_option.key}}" selected="">{{sort_option.name}}
      </option>
    {% else %}
      <option value="{{sort_option.key}}">{{sort_option.name}}</option>
    {% endif %}
  {% endfor %}
</select>

<h2>Filters:</h2>
Always sorted by reverse created.
<form id="filter" action="{{url_no_filters}}" method="get">
  {{filter_selects|safe}}
  Test Name (Full Matches Only):
  <input type="text" name="test_name_filter" value="{{test_name_filter}}">
  Machine ID (Full Matches Only):
  <input type="text" name="machine_id_filter" value="{{machine_id_filter}}">
  <!--Add the page and sort_by values so they don't get lost-->
  <input type="hidden" name="page" value="{{current_page}}">
  <input type="hidden" name="sort_by" value="{{sort_by}}">
  <input type="submit" name="Filter">
</form>

<table id="request-table" class="alterning_background"
    summary="This table lists all test requests">
  <thead>
    <th>Name</th>
    <th>Status</th>
    <th>Requested (UTC)</th>
    <th>Started (UTC)</th>
    <th>Ended (UTC)</th>
    <th>Machine ID</th>
  </thead>
  <tbody>
    {% for task in tasks %}
      <tr class="request {% if task.failure %}failed_test{% endif%}">
        <td>
          <a title="Click to see full message"
            href="/restricted/task/{{task.key_string}}">{{task.name}}
          </a>
        </td>
        <td>{{task.to_string()|safe}}</td>
        <td>{{task.created_ts|datetime_human}}</td>
        <td>{{task.started_ts|datetime_human}}</td>
        <td>{{task.ended_ts|datetime_human}}</td>
        <td>{{task.bot_id|default('--')}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<p>Currently on page: {{current_page}} </p>
<p>Go To Page:
<select id="new_page"
  onchange="document.location.href='{{url_no_page}}&page=' + this.value">
  <option value="">-</option>
  {% for page in total_pages %}
    <option value='{{page}}'>{{page}}</option>
  {% endfor %}
</select>
</p>

<h1>Recent Errors</h1>
<table id="error-table" class="alterning_background"
    summary="This table lists most recent errors">
  <thead>
    <th>Error</th>
    <th>Message</th>
    <th>Info</th>
    <th>Time (UTC)</th>
  </thead>
  <tbody>
    {% for error in errors %}
      <tr class="request">
        <td>{{error.name}}</td>
        <td>{{error.message}}</td>
        <td>{{error.info}}</td>
        <td>{{error.created|datetime_human}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
