{% extends "base.html" %}

{% block body %}
<h1>Known bots</h1>
<p>Sort By:
<select id="sort" onchange="document.location.href='?sort_by=' + this.value">
  {% for sort_option in sort_options %}
    {% if sort_option.key == selected_sort %}
      <option value="{{sort_option.key}}" selected="">{{sort_option.name}}
      </option>
    {% else %}
      <option value="{{sort_option.key}}">{{sort_option.name}}</option>
    {% endif %}
  {% endfor %}
</select>
</p>
<p>
Notes:<br>
- Refreshing delay is: {{update_delay}}<br>
- Current version is: {{current_version[:8]}}<br>
</p>

<table id="machine-table" class="alterning_background"
    summary="This table lists all machines that have polled this server">
  <thead>
    <th>ID</th>
    <th>Hostname</th>
    <th>Internal IP</th>
    <th>External IP</th>
    <th>Last Seen</th>
    <th>Dimensions</th>
    <th>Version</th>
    <th>Action</th>
  </thead>
  <tbody>
    {% for bot in bots %}
      <tr class="request {{bot.html_class}}">
        <td>{{bot.id}}</td>
        <td>{{bot.hostname}}</td>
        <td>{{bot.internal_ip}}</td>
        <td>{{bot.external_ip}}</td>
        <td>{{bot.last_seen|datetimeformat}}</td>
        <td>
          {% for k, v in bot.dimensions.iteritems()|sort %}
          {{k}}:
          {% if v is string %}{{v}}{% else %}{{v|sort|join(' | ')}}{% endif %}
          <br>
          {% endfor %}
        </td>
        <td>{{bot.version[:8]}}</td>
        <td>
          <form id="delete_{{bot.id}}" method="post"
            action="/delete_machine_stats?r={{bot.id}}">
            <button
              onclick="document.getElementById("delete_{{bot.id}}").submit()">
              Delete
            </button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
