{% extends "base.html" %}


{% block floating %}
<br>{{now|datetimeformat}}
{% endblock %}


{% block body %}
<h1>Known bots</h1>
<p>Sort By:
<select id="sort" onchange="document.location.href='?sort_by=' + this.value">
  {% for sort_option in sort_options %}
    {% if sort_option.key == selected_sort %}
      <option value="{{sort_option.key}}" selected="">{{sort_option.name}}
      </option>
    {% else %}
      <option value="{{sort_option.key}}">{{sort_option.name}}</option>
    {% endif %}
  {% endfor %}
</select>
</p>
<p>
Current bot version is: {{current_version[:8]}}
</p>

<table id="machine-table" class="alterning_background"
    summary="This table lists all machines that have polled this server">
  <thead>
    <th>ID</th>
    <th>Task</th>
    <th>Last Seen</th>
    <th>Dimensions</th>
    <th>Version</th>
    <th>Action</th>
  </thead>
  <tbody>
    {% for bot in bots %}
      <tr class="request {% if bot.last_seen < dead_machine_cutoff %}dead_machine{% endif %}">
        <td><a href="/restricted/bot/{{bot.key.id()}}">{{bot.key.id()}}</a></td>
        <td>
          {% if bot.task %}
          <a href="/user/task/{{bot.task_entity.key_string}}">{{bot.task_entity.name}}</a>
          {% else %}&#8209;&#8209;{% endif%}
        </td>
        <td>{{(now-bot.last_seen)|timedeltaformat}}</td>
        <td>
          {% for k, v in bot.dimensions.iteritems()|natsort %}
          {{k}}:
          {% if v is string %}{{v}}{% else %}{{v|natsort|join(' | ')}}{% endif %}
          <br>
          {% endfor %}
        </td>
        <td>{{bot.version[:8]}}</td>
        <td>
          <form id="delete_{{bot.id}}" method="post"
            action="/delete_machine_stats?r={{bot.id}}">
            <button
              onclick="document.getElementById("delete_{{bot.id}}").submit()">
              Delete
            </button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
