{% extends "swarming/base.html" %}

{% block floating %}
<br>{{now|datetimeformat}}
{% endblock %}


{% block body %}

<h1>Recent Errors</h1>
<table id="error-table" class="alterning_background"
    summary="This table lists most recent errors">
  <thead>
    <th>Error</th>
    <th>Message</th>
    <th>Info</th>
    <th>Time (UTC)</th>
  </thead>
  <tbody>
    {% for error in errors %}
      <tr class="request">
        <td>{{error.name}}</td>
        <td>{{error.message}}</td>
        <td>{{error.info}}</td>
        <td>{{error.created|datetimeformat}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if cursor %}
<a href="/restricted/errors?limit={{limit}}&cursor={{cursor}}"}>Next page</a>
{% endif %}

{% endblock %}
