{% extends "base.html" %}

{% block body %}
<h1>Known bots</h1>
<p>Sort By:
<select id="sort" onchange="document.location.href='?sort_by=' + this.value">
  {% for sort_option in sort_options %}
    {% if sort_option.key == selected_sort %}
      <option value="{{sort_option.key}}" selected="">{{sort_option.name}}
      </option>
    {% else %}
      <option value="{{sort_option.key}}">{{sort_option.name}}</option>
    {% endif %}
  {% endfor %}
</select>
</p>
<p>
Note: Refreshing delay is: {{update_delay}}.
</p>

<table id="machine-table" class="alterning_background"
    summary="This table lists all machines that have polled this server">
  <thead>
    <th>ID</th>
    <th>Hostname</th>
    <th>Last Seen</th>
    <th>Dimensions</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    {% for bot in bots %}
      <tr class="request {{bot.html_class}}">
        <td>{{bot.id}}</td>
        <td>{{bot.hostname}}</td>
        <td>{{bot.last_seen|datetimeformat}}</td>
        <td>{{bot.dimensions|encode_to_json}}</td>
        <td>
          <form id="delete_{{bot.id}}" method="post"
            action="/delete_machine_stats?r={{bot.id}}">
            <button
              onclick="document.getElementById("delete_{{bot.id}}").submit()">
              Delete
            </button>
          </form>
        </td>
        <td>{{bot.command_string|safe}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
