{% set title = 'Swarming Server Admin' %}
{% extends "base.html" %}

{% block body %}

As an administrator, you are entitled to see these pages:

<h3>Service Status</h3>
<ul>
  <li><a href="/stats">Usage statistics</a></li>
  <li><a href="/user/tasks">Tasks</a></li>
  <li><a href="/restricted/bots">Known bots</a></li>
</ul>

<h3>Configuration</h3>
<ul>
  <li><a href="/restricted/whitelist_ip">Whitelist IP</a></li>
  <li><a href="/restricted/upload_bootstrap">Upload new bootstrap.py</a></li>
  <li><a href="/restricted/upload_start_slave">Upload new start_slave.py</a></li>
</ul>

<h3>Error reports</h3>
<ul>
  <li><a href="/restricted/ereporter2/report">Recent ereporter2 errors</a></li>
</ul>

{% endblock %}
