{% extends "base.html" %}

{% block headers %}
<style>
  .user a {
    {% if not is_user %}
      color: gray;
      text-decoration: line-through;
    {% endif %}
  }
  .admin a {
    {% if not is_admin %}
      color: gray;
      text-decoration: line-through;
    {% endif %}
  }
  .privileged_user a {
    {% if not is_privileged_user %}
      color: gray;
      text-decoration: line-through;
    {% endif %}
  }
</style>
{% endblock %}


{% block body %}

<h1>Swarming Server</h1>
Swarming Server is an open source task distribution service written in python
running on AppEngine.
<p>

{% if not nickname %}
Please <a href="{{signin_link|safe}}">sign in</a> for more access.
{% else %}
As a {{user_type}}, you are entitled to see these pages:
{% endif %}

<h3>Service Status</h3>
<ul>
  <li><a href="/stats">Usage statistics</a></li>
  <li class="user"><a href="/user/tasks">Tasks</a></li>
  <li class="privileged_user"><a href="/restricted/bots">Known bots</a></li>
</ul>

<h3>Configuration</h3>
<ul class="admin">
  <li><a href="/restricted/whitelist_ip">Whitelist IP</a></li>
  <li><a href="/restricted/upload_bootstrap">Upload new bootstrap.py</a></li>
  <li><a href="/restricted/upload_start_slave">Upload new start_slave.py</a></li>
</ul>

<h3>Error reports</h3>
<ul class="admin">
  <li><a href="/restricted/ereporter2/report">Recent ereporter2 errors</a></li>
</ul>

<h3>Running a bot</h3>
<ul class="spaced">
  <li>
    To start a bot, run one of these:
    <ol>
      <li>
        Don't forget if swarming_bot.zip was already present, curl won't
        overwrite it so "rm swarming_bot.zip" first if necessary.
        <pre style="margin-bottom:0">
mkdir bot; cd bot
curl -sSLOJ {{host_url}}/get_slave_code
python swarming_bot.zip
</pre>
      </li>
      <li>
        Here's an even shorter command when you like to live dangerously:
        <pre style="margin-bottom:0">
python -c "import urllib; exec urllib.urlopen('{{host_url}}/bootstrap').read()"
</pre>
      </li>
      <li>
        The escaped version to pass as a ssh argument:
        <pre>
'python -c "import urllib; exec urllib.urlopen('"'{{host_url}}/bootstrap'"').read()"'</pre>
      </li>
    </ol>
  </li>
  <li>See the project's page for code and help pages:
    <a href="https://code.google.com/p/swarming/">
      https://code.google.com/p/swarming/</a>
  </li>
</ul>

{% endblock %}
