{% extends "base.html" %}


{% block headers %}
<style>
  h1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  table.layout_table {
    border-spacing: 0;
    font-family: monospace;
  }

  .layout_table thead {
    background-color: #C0C0C0;
    font-weight:bold;
  }

  table.layout_table tbody tr:nth-child(even) {
    background-color: #eeeeee;
  }

  table.layout_table td:first-child {
    border-color: black;
    border-right: thin solid;
    padding-right: 1.5em;
  }

  table.layout_table td:nth-child(2) {
    padding-left: 2em;
  }
</style>
<script>
  function radio_value(field) {
    var radios = document.getElementsByName(field);
    for (var i = 0, length = radios.length; i < length; i++) {
      if (radios[i].checked) {
        return radios[i].value;
      }
    }
  }

  function update_sort() {
    // This resets the cursor and filters.
    var sort = radio_value("sort");
    document.location.href = '/user/tasks?sort=' + sort;
  }

  function update_filter() {
    // This resets the cursor and sort.
    var state = radio_value("state");
    var url = '/user/tasks?state=' + state;
    document.location.href = url;
  }
</script>
{% endblock %}


{% block floating %}
<br>{{now|datetimeformat}}
{% endblock %}


{% block body %}
{% import 'bot_view.html' as bot_view %}

<h1>Tasks</h1>
<a href="/">Back to root</a>
<p>

<form id="filter" name="filter">
<table class=layout_table>
  <thead>
    <tr>
      <td align=center>Sort</td>
      <td></td>
      <td>Task state</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {% for key, name in sort_choices %}
          <input type="radio" name="sort" value="{{key}}"
              onchange="update_sort()"
              {% if sort == key %}checked{%endif%}>
            {{name}}
          </input>
          <br>
        {% endfor %}
      </td>
      {% for state_column in state_choices %}
        <td>
          {% for key, name in state_column %}
            <input type="radio" name="state" value="{{key}}"
                onchange="update_filter()"
                {% if state == key %}checked{%endif%}>
              {{name}}
            </input>
            <br>
          {% endfor %}
        </td>
      {% endfor %}
{# TODO(maruel): To be added as a separate page
      <td>
        Task Name (Full Matches Only):
        <input type="text" name="name" value="{{task_name}}">
      </td>
      <td>
#}
    </tr>
  <tbody>
</table>
</form>
<br>

{% if tasks %}
  <table id="request-table" class="alterning_background"
      summary="This table lists all test requests">
    <thead>
      <th>Name</th>
      <th>Status</th>
      <th>Requested</th>
      <th>Pending</th>
      <th>Started</th>
      <th>Ended</th>
      <th>Duration</th>
      <th>Bot</th>
      <th>Priority</th>
    </thead>
    <tbody>
      {% for task in tasks %}
        <tr class="request {% if task.failure or task.internal_failure %}failed_test{% endif%}">
          <td>
            <a href="/user/task/{{task.key_string}}">{{task.name}}</a>
          </td>
          <td>{{task.to_string()|safe}}</td>
          <td nowrap align=center>{{task.created_ts|datetimeformat}}</td>
          <td nowrap align=right>{{task.pending|timedeltaformat}}</td>
          <td nowrap align=center>{{task.started_ts|datetimeformat}}</td>
          <td nowrap align=center>{{task.ended_ts|datetimeformat}}</td>
          <td nowrap align=right>{{task.duration()|timedeltaformat}}</td>
          <td nowrap>{{bot_view.bot_link(task.bot_id, is_privileged_user)}}</td>
          <td nowrap align=right>{{task.priority}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  No data to show for this selection.
{% endif %}

{% if cursor %}
<p>
<a href=/user/tasks?sort={{sort}}&cursor={{cursor}}">Next page</a>
{% endif %}

{% endblock %}
