{% extends "swarming/base.html" %}


{% block headers %}
<style>
  h1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  table.property_table {
    font-family: monospace;
    border-spacing: 0;
  }

  table.property_table tbody tr:nth-child(even) {
    background-color: #eeeeee;
  }

  table.property_table td {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  table.property_table tbody tr:hover {
    background-color: #eeffee;
  }

  table.property_table tbody tr td:first-child {
    white-space: nowrap;
  }

  .failed_test {
    background-color: #ffdddd;
  }

  .blink {
    animation: blink 1s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
  }
  @keyframes blink {
    to { visibility: hidden; }
  }
  @-webkit-keyframes blink {
    to { visibility: hidden; }
  }
</style>
{% endblock %}


{% block floating %}
<br>{{now|datetimeformat}}
{% endblock %}


{% block body %}
{% import 'swarming/bot_view.html' as bot_view %}

<h1>Task summary</h1>
<a href="/user/tasks">Back to tasks list</a>
<p>

<table class="property_table">
  <tbody>
    <tr>
      <td>Bot's previous task</td>
      <td>
        {% if previous_task_id %}
        <a href="/user/task/{{previous_task_id}}">&#x2190; {{previous_task_name}}</a>
        {% else %}
        &#8209;&#8209;
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>Bot's following task</td>
      <td>
        {% if following_task_id %}
        <a href="/user/task/{{following_task_id}}">{{following_task_name}} &#x2192;</a>
        {% else %}
        &#8209;&#8209;
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{request.name}}</td>
    </tr>
    <tr>
      <td>User</td>
      <td>{{request.user}}</td>
    </tr>
    <tr>
      <td>Priority</td>
      <td>{{request.priority}}</td>
    </tr>
    <tr>
      <td>Request dimensions</td>
      <td>{{bot_view.render_dimensions(request.properties.dimensions)}}</td>
    </tr>
    <tr>
      <td>Execution timeout (s)</td>
      <td>{{request.properties.execution_timeout_secs}}</td>
    </tr>
    <tr>
      <td>I/O timeout (s)</td>
      <td>{{request.properties.io_timeout_secs}}</td>
    </tr>
    <tr>
      <td>Environment variables</td>
      <td>{{bot_view.render_dimensions(request.properties.env)}}</td>
    </tr>
    <tr>
      <td>Commands</td>
      <td>
        {% for cmd in request.properties.commands %}
        {{cmd|join(' ')}}<br>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td>Created</td>
      <td>{{request.created_ts|datetimeformat}}</td>
    </tr>
    <tr>
      <td>Expiration</td>
      <td>{{request.expiration_ts|datetimeformat}}</td>
    </tr>
    <tr>
      <td>Started</td>
      <td>{{task.started_ts|datetimeformat}}</td>
    </tr>
    <tr>
      <td>Pending time</td>
      <td>{{task.pending_now()|timedeltaformat}}</td>
    </tr>
    <tr>
      <td>Completed</td>
      <td>{{task.completed_ts|datetimeformat}}</td>
    </tr>
    <tr>
      <td>Abandoned</td>
      <td>{{task.abandoned_ts|datetimeformat}}</td>
    </tr>
    <tr>
      <td>Duration</td>
      <td>{{task.duration_now()|timedeltaformat}}</td>
    </tr>
    <tr>
      <td>State</td>
      <td>{{task.to_string()}} ({{task.state}})</td>
    </tr>
    <tr>
      <td>Bot</td>
      <td>{{bot_view.bot_link(task.bot_id, is_privileged_user)}}</td>
    </tr>
    <tr>
      <td>Bot dimensions</td>
      <td>{{bot_view.bot_dimensions(bot)}}</td>
    </tr>
    <tr class="{% if task.failure %}failed_test{% endif%}">
      <td>Failure</td>
      <td>{{task.failure}}</td>
    </tr>
    <tr class="{% if task.internal_failure %}failed_test{% endif%}">
      <td>Internal failure</td>
      <td>{{task.internal_failure}}</td>
    </tr>
    <tr>
      <td>Exit codes</td>
      <td>{{task.exit_codes}}</td>
    </tr>
    <tr>
      <td>Try number</td>
      <td>{{task.try_number}}</td>
    </tr>
  </tbody>
</table>

<h3>Outputs:</h3>
<pre>
{% for out in task.get_outputs() %}Output:
{{out}}{% endfor %}{% if is_running %}<p class="console"><span class="blink">|</span>{% endif %}
</pre>

{% endblock %}
