{% extends "base.html" %}

{% block body %}
<h1>IP Whitelist</h1>
<table id="request-table" class="alterning_background"
    summary="This table lists all test requests">
  <thead>
    <th>IP</th>
    <th>Action</th>
  </thead>
  <tbody>
    {% for whitelist in whitelists %}
      <tr class="request">
        <td>{{whitelist.ip}}</td>
        <td>
          <form id="remove_{{whitelist.key}}" method="post"
              action={{whitelist.url}}>
            <input type="hidden" name="a" value="False"/>
            <input type="hidden" name="i" value="{{whitelist.ip}}" />
            <button onclick="document.getElementById('remove_{{whitelist.key}}').submit()">
              remove</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<div>
  <h1>Add New:</h1>
  <form name="input" action="{{change_whitelist_url|safe}}" method="post">
    IP address: <input type="text" name="i" />
    <input type="hidden" name="a" value="True">
    <input type="submit" value="Submit" />
  </form>
</div>
{% endblock %}
